.cnt {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  width: 100%;
  height: 100vh;
}

.input {
  margin: 1em;
  width: 40%;
  border-radius: 1em;
  padding: 0.5em;
  font-size: 20px;
  border: 2px solid #eceff1 !important;
}

.input:hover,
.input:active,
.input:focus {
  border: 2px solid #eceff1 !important;
  border-radius: 1em;
}
